@model RSWEBProekt_v1.ViewModels.DetailsViewModel

@{
    ViewBag.Title = "Details view";
    var altsrc = ViewData["Alt"].ToString();
}

<br />
<h3>Details for @Model.FullName</h3>

<div class="card mb-3">
    <div class="card-header">
        Car name : @Model.FullName <br />
        Produced : @Model.ProdDate <br />
        Owner: @Model.OwnerFirstName @Model.OwnerLastName <br />
        Owner username: @Model.OwnerUsername
    </div>
    <div class="card-body">
        <h6 class="card-title">Location: @Model.Location</h6>
        <hr />
        <p>@Model.Description</p>
        <br />
        <div style="width:450px; height:300px">
            @if (Model.ImagePath != null)
            {
                <img src="@Url.Content(Model.ImagePath)" alt="Image not found." style="max-width:100%; max-height:100%; display:block" />
            }
            else
            {
                <img src="@Url.Content(altsrc)" alt="Image not found." style="max-width:100%; max-height:100%; display:block" />
            }
        </div>
    </div>
    <div class="card-footer">
        Price : @Model.Price MKD <br />
        <br />   
            <a asp-controller="UserManagement" asp-action="AddCart" asp-route-carId="@Model.Id" class="btn btn-primary" style="width:auto">Add to cart</a>
    </div>
</div>